</p>

<h1>Show comment</h1>

<p>Nickname:<br/>
<%= @comment.nickname %>
</p>

<p>Body:<br/>
<%= @comment.body %>
</p>

<p><%= link_to "Back", comments_path %>
<%= link_to "Edit", edit_comment_path(@comment) %>

